
.dataCharacter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  padding: 2rem;
}

.imageCharacter {
    background-color: white;

    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .nameCharacter {
    text-align: center;
  }
  
 